.pull-left>img{
  padding-top: 5px;
}
.background-image{
  background: url('slide4.jpg') no-repeat center center;
  height:700px;
}
.navbar {
  background-color: transparent;
  border-color:transparent;
}
.jumbotron{
  background-color: transparent;
}
.text-white{
  color:white;
}
.nav.navbar-nav.navbar-right li a {
    color: white;
    text-size: 509px;
}
