.pull-left>img{
  padding-top: 5px;
}
.background-image{
  background: url('slide4.jpg') no-repeat center center;
  position:fixed;
}
.navbar {
  background-color: transparent;
}
.jumbotron{
  background-color: transparent;
}
